Django
djangorestframework
django-cors-headers
python-dotenv
psycopg[binary]
pgvector
google-genai
mistralai
langchain-text-splitters
langchain-ollama
rapidocr-onnxruntime
PyMuPDF
PyPDF2
Pillow
unidecode
ragas
langchain-google-genai 
datasets
flashrank
